body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../assets/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#app-container {
    max-width: 450px;
    margin: 0 auto;
    height: 90vh;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transform: translate(0, -50%);
    top: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

#app-body {
    display: flex;
    flex-direction: column;
    height: 74vh;
    max-height: 74vh;
    overflow-y: scroll;
}

header {
    display: flex;
    align-items: center;
    height: 8vh;
    max-height: 8vh;
}

h3 {
    padding: 0 0 0 20px;
    color: #1174ad;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 8vh;
    max-height: 8vh;
    border-top: 1px solid #a3a5a8;
    margin-top: auto;
}

.btn {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

#add {
    filter: invert(67%) sepia(22%) saturate(2913%) hue-rotate(173deg) brightness(96%) contrast(90%);
}

#add:hover {
    filter: invert(28%) sepia(99%) saturate(1341%) hue-rotate(179deg) brightness(93%) contrast(87%);
    cursor: pointer;
}

#del {
    opacity: 30%;
}

#del:hover {
    cursor: pointer;
    opacity: 60%;
}

/* ***Contact List*** */

.contact {
    position: relative;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #a3a5a8;
}

.contactPhoneN {
    font-size: smaller;
}

.active .contact:hover {
    cursor: pointer;
    border: 2px solid #1174ad;
}

.selected-contact {
    position: relative;
    padding: 10px 0 10px 10px;
    border: 2px solid #1174ad;
}

/* ***Add Container*** */

#add-container {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 250px;
    border: 2px solid #a3a5a8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: 100px;
    background: white;
}

#close-container {
    opacity: 30%;
    align-self: flex-end;
}

#close-container:hover {
    opacity: 60%;
    cursor: pointer;
    filter: invert(23%) sepia(94%) saturate(7050%) hue-rotate(357deg) brightness(94%) contrast(110%);
}

label,
input {
    display: block;
}

input {
    border: 2px solid #a3a5a8;
    height: 25px;
}

#add-contact {
    border: 2px solid #6eeb4b;
    color: #6eeb4b;
    padding: 3px 5px;
    transform: translate(115px, 15px);
    opacity: 30%;
}

#add-contact:hover {
    cursor: pointer;
    opacity: 100%;
}

#add-container-none {
    display: none;
}